<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>252797724552-3klt7kbfm0orcnn57s52e8hnf9u9e82u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.252797724552-3klt7kbfm0orcnn57s52e8hnf9u9e82u</string>
	<key>API_KEY</key>
	<string>AIzaSyAriMn6sHkmuTdKDJ-cDCHapWuh-m13n10</string>
	<key>GCM_SENDER_ID</key>
	<string>252797724552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.must.example.studentAttendance</string>
	<key>PROJECT_ID</key>
	<string>studly-4c4d8</string>
	<key>STORAGE_BUCKET</key>
	<string>studly-4c4d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:252797724552:ios:8d323688e3886cf49a3c3d</string>
</dict>
</plist>